---
Checks: >
  -*,
  bugprone-*,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  modernize-use-override,
  performance-noexcept-*,
  performance-move-const-arg,
  readability-braces-around-statements,
  readability-namespace-comment,
  readability-non-const-parameter,
  readability-const-return-type
  readability-qualified-auto, 
  readability-static-definition-in-anonymous-namespace,
  misc-use-anonymous-namespace,
  misc-include-cleaner,
  misc-header-include-cycle,
  misc-definitions-in-headers,
  llvm-namespace-comment,
WarningsAsErrors: ""
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: none
User: user
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 0
  - key: readability-namespace-comments.ShortNamespaceLines
    value: 0
  - key: readability-namespace-comments.SpacesBeforeComments
    value: 1
  - key: readability-qualified-auto.AddConstToQualified
    value: true
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
